.numBtn {
  width: 100%;
  height: 48px;
  color: white;
  background: orange;
  padding: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.numBtn:hover {
  background: rgb(245, 181, 64);
  /* transform: scale(1.05); */
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* 4 buttons per row */
  gap: 8px;
  width: 100%;
}

.equalBtn {
  width: 320%;
  background: rgb(77, 235, 46);
  cursor: pointer;
}

.equalBtn:hover {
  background: rgb(103, 179, 87);
}
